.title{
    text-align: center;
}
.wwa{
    color: black;
}

.wwatext{
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
}
.imgs{
   margin-top: 10px;
   width: 15em;
   height: 10em;
}
.down{
   margin-top: 40px;
}
